main{
    background-image: $background-image;
        width: 100%;
        height:100%;
        
    
    }
    
    .sectionPrimaria{
        h2{ padding: 20px;
            font-size: 30px;
        }
        
        p{  
            padding-left: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
    .img-contenedor{
    @include flex(center,none,none);
    img{
        height: 300px;
        width: 275px;
        border-radius: 80%;
    }
    }
    }
    
    
    //  servicios
    .sectionSecundario{
        h2{
            @include flex(center,none,underline);
            margin-top: 20px;
        }
            .servicios{
                @include flex(center,none,none);
            }
            
            a{
                @include flex(center,none,none);
            }
            img{
                height: 162px;
                width: 177px;
                @include flex(center,none,none);
                
            }
    }
    .sectionTerciario{
        @include flex(center,center,none);
        
        padding-bottom: 15px;
        h2{ 
            @include flex(center,none,underline);
        }
        img{
            width: 50px;
            height: 50px;
            
        }
    }